/* Global Stuff */

body {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-height: 100%;
    background: white;
    height: 100%;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
}


/* Background Switcher */

.bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: auto 120vh;
    background-repeat: repeat-x;
    z-index: 99;
}

.bg-0 {
    background-image: url("/img/sky/10-Sky.png");
}

.bg-1 {
    background-image: url("/img/sky/01-Sky.png");
}

.bg-2 {
    background-image: url("/img/sky/02-Sky.png");
}

.bg-3 {
    background-image: url("/img/sky/03-Sky.png");
}

.bg-4 {
    background-image: url("/img/sky/04-Sky.png");
}

.bg-5 {
    background-image: url("/img/sky/04-Sky.png");
}

.bg-6 {
    background-image: url("/img/sky/04-Sky.png");
}

.bg-7 {
    background-image: url("/img/sky/07-Sky.png");
}

.bg-8 {
    background-image: url("/img/sky/08-Sky.png");
}

.bg-9 {
    background-image: url("/img/sky/09-Sky.png");
}

.bg-10 {
    background-image: url("/img/sky/10-Sky.png");
}

.bg-11 {
    background-image: url("/img/sky/11-Sky.png");
}

/* Sun & Moon Axis */


#orbital {
    height: 140vh;
    margin:10vh auto 0px;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    top: 0;

}

.innerorbital {
    position: relative;
}
.sun {
    position: absolute;
    background: url('/img/sprites/sun-sprite-glow.png');
    background-size: cover;
    top: 0px;
    left: 0px;
    display: block;
    width: 18vh;
    height: 18vh;
    z-index: 100;

}

.sun-glow {
    -webkit-box-shadow: 0px 0px 188px -16px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 188px -16px rgba(255,255,255,1);
    box-shadow: 0px 0px 188px -16px rgba(255,255,255,1);
}

.sun img {
    max-width: 100%;
}

.moon {
    position: absolute;
    background: url('/img/sprites/moon-sprite-glow.png');
    background-size: cover;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 14.2vh;
    height: 15vh;
    z-index: 100;
}

.moon img {
    max-width:100%;
    -webkit-box-shadow: 0px 0px 188px -16px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 188px -16px rgba(255,255,255,1);
    box-shadow: 0px 0px 188px -16px rgba(255,255,255,1);
}

/* Clouds! */

.cloud-container {
    width: 100vw;
    height: 20vh;
    bottom: 0;
    position: absolute;
}
.cloud {
    width: 20vw; height: 5vh;
    z-index: 105;
    position: relative;
}


/* Cloud Animation*/

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 500s linear infinite;
    -moz-animation: moveclouds 500s linear infinite;
    -o-animation: moveclouds 500s linear infinite;
}

.x3 {
    left: -250px; bottom: -20vh;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    -webkit-animation: moveclouds 450s linear infinite;
    -moz-animation: moveclouds 450s linear infinite;
    -o-animation: moveclouds 450s linear infinite;
}

.x4 {
    left: 470px; bottom: -10vh;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/
    -webkit-animation: moveclouds 375s linear infinite;
    -moz-animation: moveclouds 375s linear infinite;
    -o-animation: moveclouds 375s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}

/* Cloud 1 Switcher */
.cloud1 {
    left: 200px;
    width: 65vh;
    height: 25vh;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 300s linear infinite;
    -moz-animation: moveclouds 300s linear infinite;
    -o-animation: moveclouds 300s linear infinite;
    z-index: 300;
    background-size: cover;
    bottom: 20vh;
    position: absolute;
}

.cloud1-0 {
    background-image: url("/img/clouds/09-Cloud-01.png");
}

.cloud1-1 {
    background-image: url("/img/clouds/01-Cloud-01.png");
}

.cloud1-2 {
    background-image: url("/img/clouds/02-Cloud-01.png");
}

.cloud1-3 {
    background-image: url("/img/clouds/04-Cloud-01.png");
}

.cloud1-4 {
    background-image: url("/img/clouds/04-Cloud-01.png");
}

.cloud1-5 {
    background-image: url("/img/clouds/04-Cloud-01.png");
}

.cloud1-6 {
    background-image: url("/img/clouds/04-Cloud-01.png");
}

.cloud1-7 {
    background-image: url("/img/clouds/07-Cloud-01.png");
}

.cloud1-8 {
    background-image: url("/img/clouds/08-Cloud-01.png");
}

.cloud1-9 {
    background-image: url("/img/clouds/08-5-Cloud-01.png");
}

.cloud1-10 {
    background-image: url("/img/clouds/09-Cloud-01.png");
}

.cloud1-11 {
    background-image: url("/img/clouds/10-Cloud-01.png");
}

/* Land Switcher! */

.land {
    height: 20%;
    width: 100%;
    background-repeat: repeat-x;
    background-size: auto 22vh;
    position: absolute;
    bottom: 0;
    z-index: 200;
}

.land-0 {
    background-image: url("/img/ground/10-Ground.png");
}

.land-1 {
    background-image: url("/img/ground/01-Ground.png");
}

.land-2 {
    background-image: url("/img/ground/02-Ground.png");
}

.land-3 {
    background-image: url("/img/ground/03-Ground.png");
}

.land-4 {
    background-image: url("/img/ground/04-Ground.png");
}

.land-5 {
    background-image: url("/img/ground/04-Ground.png");
}

.land-6 {
    background-image: url("/img/ground/04-Ground.png");
}

.land-7 {
    background-image: url("/img/ground/07-Ground.png");
}

.land-8 {
    background-image: url("/img/ground/08-Ground.png");
}

.land-9 {
    background-image: url("/img/ground/09-Ground.png");
}

.land-10 {
    background-image: url("/img/ground/10-Ground.png");
}

.land-11 {
    background-image: url("/img/ground/11-Ground.png");
}



/* Toolbar */


h1 {
    font-size:40px;
    font-weight:bold;
    color:#191919;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-weight:normal;
    font-size:20px;
    color:#888;
    padding:5px 0;
}

.toolbar {
    background: rgba(0,0,0,0.6);
    color:#FFF;
    position: absolute;
    top: -50vh;
    height: 50vh;
    left: 0;
    width: 100%;

    padding: 20px;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    box-sizing: border-box;
    z-index: 998;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .toolbar {
        top: -100vh;
        height: 100vh;
    }

    .toolbar ul li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .toolbar {
        top: -100vh;
        height: 100vh;
    }
}

.toolbar-inner {
    width: 80vw ;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;

}

.logo {
    text-align: center;
}

.logo span {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

.donate {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    opacity: 0.4;
    transform: all 0.2s ease;
}

.donate:hover {
    opacity: 1;
}

.toolbar ul {
    list-style-type: none;
    padding: 0;

}

.toolbar ul li {
    display: inline-block;
    padding: 0 2vw 0 2vw;

    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 40px 0 0 0;
}

.toolbar ul li span {
    display: block;
    margin-top: 10px;
}

.toolbar ul li img {
    width: 32px;
    height: 32px;
}

.toolbar ul li a {
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}

.toolbar ul li a:hover {
    color: rgba(255,255,255,1);
}

.message h1 {
    color:#FFF;
}

#toggle {
    position:absolute;
    appearance:none;
    cursor:pointer;
    left:-100%;
    top:-100%;
}

#toggle + label {
    position:absolute;
    cursor:pointer;
    padding:10px;
    background: transparent;
    width: auto;
    right: 0;
    color: #FFF;
    font-size:12px;
    text-align:center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    margin:20px 20px;
    transition:all 500ms ease;
    z-index: 999;
}
#toggle + label:after {
    content: url(/img/toolbar/bitday-logo.png);
    opacity: 0.8;
}

.container {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding:5em 3em;
}

#toggle:checked ~ .toolbar {
    top: 0;
}

#toggle:checked ~ .container {
    margin-top: 250px;
}

#toggle:checked + label {
}

#toggle:checked + label:after {
    content: url(/img/toolbar/menu-close.png);
}


/* Modal Window */

p {
    margin-top: 0;
}

.modal-container {
    position: relative;
    background-color: #000000 !important;
    width: 70%;
    max-width: 400px;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    z-index: 999;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 50vh;
    overflow: auto;
}

.modal-container h2 {
    font-size: 12px;
    padding: 10px;
    margin-top: 30px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
}

.modal-container a {
    text-decoration: none;
    color: #ff3600;
}

.close-credits {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.inner {
    overflow: scroll;
    position: relative;
}
